# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.cbp
av_vels.dat
final_state.dat
boltzmann-opencl/boltzmann-opencl
boltzmann-openmp/boltzmann-openmp
boltzmann-original/boltzmann-original
boltzmann-serial/boltzmann-serial
boltzmann-mpi/boltzmann-mpi
